<!DOCTYPE html>
<html lang="en" ng-app="DBDXApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DBDX</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/dbdx.css">
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>DBDX, Alpha version</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div ng-controller="RESTCtrl">
                <h3 class="text-center">{{userdata.firstName}} {{userdata.lastName}}</h3>
                <h4 class="text-center">({{userdata.userName}})</h4>
            </div>

            <div ng-controller="newAccountCtrl">
                <button class="btn btn-primary" ng-click="showNewAccountForm()">New Account</button>
            </div>
            <br/>
            <div ng-controller="transferMoneyCtrl">
                <button class="btn btn-primary" ng-click="showTransferMoneyForm()">Transfer Money</button>
            </div>
            <br/>
            <a href="/logout" class="btn btn-danger" role="button">Log Out</a>

        </div>


        <!-- ACCOUNTS -->
        <div class="col-md-9">
            <h3 class="text-center lead">Accounts</h3>

            <!-- ANGULAR MAGIC -->
            <div ng-controller="RESTCtrl as rest">
                <accordion>
                    <accordion-group ng-repeat="account in userdata.accounts" is-open="status.open">
                        <accordion-heading>
                            <b> Account ID: {{account.accountId}}</b> | {{account.name}} :
                            <b>{{account.balance}}</b> {{account.type}} <i class="pull-right glyphicon"
                                                                           ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </accordion-heading>
                        <h4 class="text-center">Out Transactions</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th st-sort="accID">To AccountID</th>
                                <th st-sort="user">To User</th>
                                <th st-sort="amount">Amount</th>
                                <th st-sort="rate">Rate</th>
                                <th st-sort="timestamp">Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in account.outputTransactions">
                                <td>{{row.from.accountId}}</td>
                                <td>{{row.to.firstName}} {{row.to.lastName}}</td>
                                <td class="out-amount">-{{row.fromAmount}}</td>
                                <td>{{row.from.accountType}}{{row.to.accountType}}: {{row.rate}}</td>
                                <td>{{row.timestamp}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <h4 class="text-center">In Transactions</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th st-sort="accID">From AccountID</th>
                                <th st-sort="user">From User</th>
                                <th st-sort="amount">Amount</th>
                                <th st-sort="rate">Rate</th>
                                <th st-sort="timestamp">Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in account.inputTransactions">
                                <td>{{row.from.accountId}}</td>
                                <td>{{row.from.firstName}} {{row.from.lastName}}</td>
                                <td class="in-amount">+{{row.toAmount}}</td>
                                <td>{{row.from.accountType}}{{row.to.accountType}}: {{row.rate}}</td>
                                <td>{{row.timestamp}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </accordion-group>
                </accordion>
            </div>

        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script src="angular/ui-bootstrap-src.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="angular/dbdx-app.js"></script>
</body>
</html>