<div class="modal-header">
    <h3 class="modal-title text-center">Create new Account</h3>
</div>
<form name="form.accountForm" class="form-horizontal" role="form"
      ng-submit="form.accountForm.$valid && submitAccountForm()" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-4 control-label">Currency</label>

            <div class="col-sm-6">
                <select ng-model="accountType" class="form-control"
                        ng-init="type = options[0].value"
                        ng-options="accountType for accountType in ['BTC', 'LTC']" required>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Account Name</label>

            <div class="col-sm-6">
                <input ng-model="accountName" type="string" class="form-control" id="name"
                       placeholder="Enter account name" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Details</label>

            <div class="col-sm-6">
                <input ng-model="accountDetails" type="string" class="form-control" id="quantity"
                       placeholder="Details if bank account" required/>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-sm-offset-4 col-sm-4">
            <button ng-disabled="!form.accountForm.$valid" type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>
