<div class="modal-header">
    <h3 class="modal-title text-center">Transfer Money</h3>
</div>
<form name="form.transferForm" class="form-horizontal" role="form"
      ng-submit="form.transferForm.$valid && submitTransferForm()" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label for="price" class="col-sm-4 control-label">Account ID From</label>
            <div class="col-sm-6">
                <input ng-model="transferFromID" type="number" class="form-control" id="price" placeholder="Transfer From Account ID"
                       min="0" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-4 control-label">Account ID To</label>
            <div class="col-sm-6">
                <input ng-model="transferToID" type="number" class="form-control" id="price" placeholder="Transfer To Account ID"
                       min="0" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-4 control-label">Amount</label>
            <div class="col-sm-6">
                <input ng-model="transferAmount" type="number" class="form-control" id="price" placeholder="Amount"
                       min="0" required/>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-sm-offset-4 col-sm-4">
            <button ng-disabled="!form.transferForm.$valid" type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>
